.gridSpaces {
    margin: 0px 0px;
    display: flex;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(150, 150, 150);
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#numberOnTop {
    font-size: 80px;
    margin:0px;
    border: 0px;
}

.playingCards {
    border-radius: 5%;
    margin:0px;
    border:4px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:50ms linear;
}

.cardBlackBorder {
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    border:2px solid black;
    border-radius: 5%;
    transition:100ms linear;

}

#gameBox {
    margin: auto;
    width: 600px;
    height: 500px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(150, 150, 150);
}

.cardPicture {
    opacity: 1;
}

h1 {
    text-align: center;
}

#turnText {
    text-align: center;
}